<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="static/Sparta_Favicon.jpg" sizes="64x64">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>List | Sparta Global</title>

    <style>

        p{letter-spacing:0.13em;}
        a{text-decoration:none; color:rgb(255, 255, 255);}
        a:hover{color: #c7cf98; text-decoration: none;}
        body{font-family:'Verdana', Helvetica, sans-serif;}

        /* NAVIGATION BAR */
        div#navigationbar a:hover{color: #a8a8a8; text-decoration:none;}
        #navigationbar a{text-decoration:none; color:rgb(255, 255, 255);}

        div#navigationbar{width:100%; height:auto; background-color:#01181B; position:fixed; top:0; left:0; right:0; min-width:350px; height:63px; font-size:0.99em;}
        div#navigationbar > div#left{float:left;}

        div#navigationbar > div#right{position:absolute; bottom:0; right:3%; display:flex;}

        /* FOOTER */
        .site-footer {color:white; background-color:#01181B; position:absolute; bottom:0; right:0; left:0; width:100%; text-align:center;}
    </style>

    <!-- {% block header %}{% endblock %} -->
</head>

<body0>
    
    <!-- Navigation bar -->
    <div id="navigationbar" style="color:white;">
        <div id="left">
            <a href="https://www.spartaglobal.com/" target="_blank">
                <img src="static/Sparta-global-logo-white.svg" width=auto height=60px/>
            </a>
        </div>

        <div id="right">
          <p style="letter-spacing:0.14em; align-self:flex-end; font-size:0.91em; font-weight:bold;">
              <a href="/">Home</a>&nbsp;&nbsp;&nbsp; <a href="/team">Team</a>&nbsp;&nbsp;&nbsp; <a href="/list">Jobs List</a>&nbsp;&nbsp;&nbsp; <a href="/toolchain">ToolChain</a>
          </p>
      </div>
    </div>
    
    <!-- {% block content %} {% endblock %} -->
    <div style="padding-top:63px; width:90%; margin-right:auto; margin-left:auto; letter-spacing:0.15em; text-align:center;">
      <table class="table table-hover">
          <thead style="font-size:1.2em;">
            <tr>
              <th scope="col">Job</th>
              <th scope="col">Rank (Last 6 months)</th>
              <th scope="col">Rank (Last Year)</th>
              <th scope="col">Median Salary (Last 6 months)</th>
              <th scope="col">Median Salary %Change (Last Year)</th>
              <th scope="col">Historical Job Ads</th>
              <th scope="col">Job Vacancies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{ job.0[0] }}</th>
              <td>{{ job.0[1] }}</td>
              <td>{{ job.0[2] }}</td>
              <td>{{ job.0[3] }}</td>
              <td>{{ job.0[4] }}</td>
              <td>{{ job.0[5] }}</td>
              <td>{{ job.0[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.1[0] }}</th>
              <td>{{ job.1[1] }}</td>
              <td>{{ job.1[2] }}</td>
              <td>{{ job.1[3] }}</td>
              <td>{{ job.1[4] }}</td>
              <td>{{ job.1[5] }}</td>
              <td>{{ job.1[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.2[0] }}</th>
              <td>{{ job.2[1] }}</td>
              <td>{{ job.2[2] }}</td>
              <td>{{ job.2[3] }}</td>
              <td>{{ job.2[4] }}</td>
              <td>{{ job.2[5] }}</td>
              <td>{{ job.2[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.3[0] }}</th>
              <td>{{ job.3[1] }}</td>
              <td>{{ job.3[2] }}</td>
              <td>{{ job.3[3] }}</td>
              <td>{{ job.3[4] }}</td>
              <td>{{ job.3[5] }}</td>
              <td>{{ job.3[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.4[0] }}</th>
              <td>{{ job.4[1] }}</td>
              <td>{{ job.4[2] }}</td>
              <td>{{ job.4[3] }}</td>
              <td>{{ job.4[4] }}</td>
              <td>{{ job.4[5] }}</td>
              <td>{{ job.4[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.5[0] }}</th>
              <td>{{ job.5[1] }}</td>
              <td>{{ job.5[2] }}</td>
              <td>{{ job.5[3] }}</td>
              <td>{{ job.5[4] }}</td>
              <td>{{ job.5[5] }}</td>
              <td>{{ job.5[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.6[0] }}</th>
              <td>{{ job.6[1] }}</td>
              <td>{{ job.6[2] }}</td>
              <td>{{ job.6[3] }}</td>
              <td>{{ job.6[4] }}</td>
              <td>{{ job.6[5] }}</td>
              <td>{{ job.6[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.7[0] }}</th>
              <td>{{ job.7[1] }}</td>
              <td>{{ job.7[2] }}</td>
              <td>{{ job.7[3] }}</td>
              <td>{{ job.7[4] }}</td>
              <td>{{ job.7[5] }}</td>
              <td>{{ job.7[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.8[0] }}</th>
              <td>{{ job.8[1] }}</td>
              <td>{{ job.8[2] }}</td>
              <td>{{ job.8[3] }}</td>
              <td>{{ job.8[4] }}</td>
              <td>{{ job.8[5] }}</td>
              <td>{{ job.8[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.9[0] }}</th>
              <td>{{ job.9[1] }}</td>
              <td>{{ job.9[2] }}</td>
              <td>{{ job.9[3] }}</td>
              <td>{{ job.9[4] }}</td>
              <td>{{ job.9[5] }}</td>
              <td>{{ job.9[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.10[0] }}</th>
              <td>{{ job.10[1] }}</td>
              <td>{{ job.10[2] }}</td>
              <td>{{ job.10[3] }}</td>
              <td>{{ job.10[4] }}</td>
              <td>{{ job.10[5] }}</td>
              <td>{{ job.10[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.11[0] }}</th>
              <td>{{ job.11[1] }}</td>
              <td>{{ job.11[2] }}</td>
              <td>{{ job.11[3] }}</td>
              <td>{{ job.11[4] }}</td>
              <td>{{ job.11[5] }}</td>
              <td>{{ job.11[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.12[0] }}</th>
              <td>{{ job.12[1] }}</td>
              <td>{{ job.12[2] }}</td>
              <td>{{ job.12[3] }}</td>
              <td>{{ job.12[4] }}</td>
              <td>{{ job.12[5] }}</td>
              <td>{{ job.12[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.13[0] }}</th>
              <td>{{ job.13[1] }}</td>
              <td>{{ job.13[2] }}</td>
              <td>{{ job.13[3] }}</td>
              <td>{{ job.13[4] }}</td>
              <td>{{ job.13[5] }}</td>
              <td>{{ job.13[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.14[0] }}</th>
              <td>{{ job.14[1] }}</td>
              <td>{{ job.14[2] }}</td>
              <td>{{ job.14[3] }}</td>
              <td>{{ job.14[4] }}</td>
              <td>{{ job.14[5] }}</td>
              <td>{{ job.14[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.15[0] }}</th>
              <td>{{ job.15[1] }}</td>
              <td>{{ job.15[2] }}</td>
              <td>{{ job.15[3] }}</td>
              <td>{{ job.15[4] }}</td>
              <td>{{ job.15[5] }}</td>
              <td>{{ job.15[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.16[0] }}</th>
              <td>{{ job.16[1] }}</td>
              <td>{{ job.16[2] }}</td>
              <td>{{ job.16[3] }}</td>
              <td>{{ job.16[4] }}</td>
              <td>{{ job.16[5] }}</td>
              <td>{{ job.16[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.17[0] }}</th>
              <td>{{ job.17[1] }}</td>
              <td>{{ job.17[2] }}</td>
              <td>{{ job.17[3] }}</td>
              <td>{{ job.17[4] }}</td>
              <td>{{ job.17[5] }}</td>
              <td>{{ job.17[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.18[0] }}</th>
              <td>{{ job.18[1] }}</td>
              <td>{{ job.18[2] }}</td>
              <td>{{ job.18[3] }}</td>
              <td>{{ job.18[4] }}</td>
              <td>{{ job.18[5] }}</td>
              <td>{{ job.18[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.19[0] }}</th>
              <td>{{ job.19[1] }}</td>
              <td>{{ job.19[2] }}</td>
              <td>{{ job.19[3] }}</td>
              <td>{{ job.19[4] }}</td>
              <td>{{ job.19[5] }}</td>
              <td>{{ job.19[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.20[0] }}</th>
              <td>{{ job.20[1] }}</td>
              <td>{{ job.20[2] }}</td>
              <td>{{ job.20[3] }}</td>
              <td>{{ job.20[4] }}</td>
              <td>{{ job.20[5] }}</td>
              <td>{{ job.20[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.21[0] }}</th>
              <td>{{ job.21[1] }}</td>
              <td>{{ job.21[2] }}</td>
              <td>{{ job.21[3] }}</td>
              <td>{{ job.21[4] }}</td>
              <td>{{ job.21[5] }}</td>
              <td>{{ job.21[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.22[0] }}</th>
              <td>{{ job.22[1] }}</td>
              <td>{{ job.22[2] }}</td>
              <td>{{ job.22[3] }}</td>
              <td>{{ job.22[4] }}</td>
              <td>{{ job.22[5] }}</td>
              <td>{{ job.22[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.23[0] }}</th>
              <td>{{ job.23[1] }}</td>
              <td>{{ job.23[2] }}</td>
              <td>{{ job.23[3] }}</td>
              <td>{{ job.23[4] }}</td>
              <td>{{ job.23[5] }}</td>
              <td>{{ job.23[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.24[0] }}</th>
              <td>{{ job.24[1] }}</td>
              <td>{{ job.24[2] }}</td>
              <td>{{ job.24[3] }}</td>
              <td>{{ job.24[4] }}</td>
              <td>{{ job.24[5] }}</td>
              <td>{{ job.24[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.25[0] }}</th>
              <td>{{ job.25[1] }}</td>
              <td>{{ job.25[2] }}</td>
              <td>{{ job.25[3] }}</td>
              <td>{{ job.25[4] }}</td>
              <td>{{ job.25[5] }}</td>
              <td>{{ job.25[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.26[0] }}</th>
              <td>{{ job.26[1] }}</td>
              <td>{{ job.26[2] }}</td>
              <td>{{ job.26[3] }}</td>
              <td>{{ job.26[4] }}</td>
              <td>{{ job.26[5] }}</td>
              <td>{{ job.26[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.27[0] }}</th>
              <td>{{ job.27[1] }}</td>
              <td>{{ job.27[2] }}</td>
              <td>{{ job.27[3] }}</td>
              <td>{{ job.27[4] }}</td>
              <td>{{ job.27[5] }}</td>
              <td>{{ job.27[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.28[0] }}</th>
              <td>{{ job.28[1] }}</td>
              <td>{{ job.28[2] }}</td>
              <td>{{ job.28[3] }}</td>
              <td>{{ job.28[4] }}</td>
              <td>{{ job.28[5] }}</td>
              <td>{{ job.28[6] }}</td>
            </tr>
            <tr>
              <th scope="row">{{ job.29[0] }}</th>
              <td>{{ job.29[1] }}</td>
              <td>{{ job.29[2] }}</td>
              <td>{{ job.29[3] }}</td>
              <td>{{ job.29[4] }}</td>
              <td>{{ job.29[5] }}</td>
              <td>{{ job.29[6] }}</td>
            </tr>
          </tbody>
        </table>
  </div>
  

    <footer class="py-3" style="background-color: #01181b">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright © Engineering 74 | 2021 </p>
        </div>
    </footer>
</body>

</html>