<!DOCTYPE html>
<html>

<head>
    {% block title %} {% endblock %}
        <!--#region StyleSheets and Icons-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap core css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="icon" href="static/Sparta_Favicon.jpg" sizes="64x64">
        
        <style>
            p{letter-spacing:0.10em;}
            body{background-color:white; font-family: 'sans-serif';}
            a:hover{color: #8f8a8a;}
        
            .footer{background-color:#01181b; width:100%; position:fixed; bottom:0; height:5%; align-items:center;}
            .footer > div#footerinner{margin-right:auto; margin-left:auto; width:50%; text-align:center; color:white; height:100%;}
            .footer > div#footerinner p{transform: translate(-50%, -50%); position:absolute; top:50%; left:50%;}
    
            
        </style>
    {% block header %} {% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#01181b;">
        <div class="container">
          <a href="https://www.spartaglobal.com/"><img class="masthead-brand" src="static/Sparta-global-logo-white.svg" alt="" width="200" height="80"></a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="navbar-collapse collapse" id="navbarResponsive" style="float:right;">
            <ul class="navbar-nav ml-auto" style="letter-spacing:0.09em;">
              <li class="nav-item">
                <a class="nav-link" href="/" style="color:white; font-weight:bold;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/meet_team" style="color:white; font-weight: bold">Meet the Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data" style="color:white; font-weight: bold">Jobs List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data" style="color:white; font-weight: bold">ToolChain</a>
              </li>
            </ul>
          </div>
          
        </div>
      </nav>
    {% 
          <!-- Page Features -->
          <div class="row text-center">
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/ansiblelogo.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 1</h4>
                  <p class="card-text">PERSON 1
                  </p>
                </div>
                <div class="card-footer">
                  <a href="https://www.ansible.com/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/aosborne17/AWS-With-Ansible" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
      
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/jenkins.jpg" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 2</h4>
                  <p class="card-text">PERSON 2</p>
                </div>
                <div class="card-footer">
                  <a href="https://www.jenkins.io/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/naistangz/Docker_Jenkins_Pipeline" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
      
                </div>
              </div>
            </div>
      
                  <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/terraform.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 3</h4>
                  <p class="card-text">PERSON 3
                  </p>
                </div>
                <div class="card-footer">
                  <a href="https://www.terraform.io/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/Spartabariallali/eng67_terraform" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
      
                </div>
              </div>
            </div>
      
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/awslogo.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 4</h4>
                  <p class="card-text">PERSON 4</p>
                </div>
                <div class="card-footer">
                  <a href="https://aws.amazon.com/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/JohnByrneJames/Terraform" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
      
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/python.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 5</h4>
                  <p class="card-text">PERSON 5</p>
                </div>
                <div class="card-footer">
                  <a href="https://www.python.org/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/JohnByrneJames/Airport_Project" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
      
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/docker.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 6</h4>
                  <p class="card-text">PERSON 6</p>
                </div>
                <div class="card-footer">
                  <a href="https://www.docker.com/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/naistangz/Docker_demo" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
      
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/SQL.jpg" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 7</h4>
                  <p class="card-text">MPERSON 7</p>
                </div>
                <div class="card-footer">
                  <a href="https://www.mysql.com/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/naistangz/Technical_Training/blob/master/docs/Week2_SQL/SQL_Projects/SQL_FinalProject.md" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
      
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/GitHub.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 8</h4>
                  <p class="card-text">PERSON 8</p>
                </div>
                <div class="card-footer">
                  <a href="https://www.github.com" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/Lycurgus1" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
      
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/vagrant.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 9</h4>
                  <p class="card-text">PERSON 9</p>
                </div>
                <div class="card-footer">
                  <a href="https://www.vagrantup.com/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/aosborne17/Ansible-With-Vagrant" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
      
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/linux.jpg" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 10</h4>
                  <p class="card-text">PERSON 10</p>
                </div>
                <div class="card-footer">
                  <a href="https://www.linux.org/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/aosborne17/Linux-Commands" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/microservices.jpg" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 11</h4>
                  <p class="card-text">PERSON 11</p>
                </div>
                <div class="card-footer">
                  <a href="https://microservices.io/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/Spartabariallali/Microservices_Docker_Nodejs_App" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
                </div>
              </div>
            </div>
      
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="shadow-card card h-100">
                <img class="opaque card-img-top text-center" src="../static/images/flask.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
                <div class="card-body">
                  <h4 class="card-title">PERSON 12</h4>
                  <p class="card-text">PERSON 12</p>
                </div>
                <div class="card-footer">
                  <a href="https://flask.palletsprojects.com/en/1.1.x/" class="aligner btn btn-primary">Find Out More!</a>
                  <a href="https://github.com/JohnByrneJames/MVC_Flask" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
                </div>
              </div>
            </div>
          </div>
      
      
          <!-- /.row -->
      
        </div>
    {% endblock %}    
    <footer class="footer">
        <div id="footerinner">
          <p>Copyright | Engineering 74</p>
        </div>


      </footer>
</body>

</html>