<!DOCTYPE html>
<html>
<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  text-align: center;
  padding: 10px 20px;
}

body{overflow-x: hidden;padding-top:96px;}

.aligner { vertical-align:bottom !important}

.fa{    padding: 0px 18px;transition: transform .2s;}
.fa:hover {transform: scale(1.1); }

.shadow-card:hover{box-shadow:0 3px 3px rgba(0,0,0,0.14);transition: box-shadow ease-in-out;}

.opaque:hover{opacity:0.8;}
</style>
<head>
    {% block title %} {% endblock %}
        <!--#region StyleSheets and Icons-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap core css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="icon" href="static/Sparta_Favicon.jpg" sizes="64x64">

        <style>
            p{letter-spacing:0.10em;}
            body{background-color:white; font-family: 'sans-serif';}
            a:hover{color: #8f8a8a;}

            .footer{background-color:#01181b; width:100%; position:fixed; bottom:0; height:5%; align-items:center;}
            .footer > div#footerinner{margin-right:auto; margin-left:auto; width:50%; text-align:center; color:white; height:100%;}
            .footer > div#footerinner p{transform: translate(-50%, -50%); position:absolute; top:50%; left:50%;}

        </style>
    {% block header %} {% endblock %}
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#01181b;">
        <div class="container">
          <a href="https://www.spartaglobal.com/"><img class="masthead-brand" src="static/Sparta-global-logo-white.svg" alt="" width="200" height="80"></a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse" id="navbarResponsive" style="float:right;">
            <ul class="navbar-nav ml-auto" style="letter-spacing:0.09em;">
              <li class="nav-item">
                <a class="nav-link" href="/" style="color:white; font-weight:bold;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/meet_team" style="color:white; font-weight: bold">Meet the Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data" style="color:white; font-weight: bold">Jobs List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data" style="color:white; font-weight: bold">ToolChain</a>
              </li>
            </ul>
          </div>

        </div>
      </nav>
    {% block content %}
<div class="row text-center">

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="shadow-card card h-100">
      <img class="opaque card-img-top text-center" src="static/square_logos/teams_logo.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 54%;">
      <div class="card-body">
        <h2>Microsoft Teams</h2>
        <h4 class="card-title">Communication</h4>
        <p class="card-text">Good and effective communication is the lifeblood of large projects, especially when there are
          multiple teams working towards the same goal. Each group had their own call on Teams to communicate with one another.
         The fact that all of the teams were using the same platform made it easy to grab someone from another team to
       discuss linking each groups work together.</p>
      </div>
      <div class="card-footer">
        <a href="https://www.microsoft.com/en-gb/microsoft-365/microsoft-teams/group-chat-software" class="aligner btn btn-primary">Find Out More!</a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="shadow-card card h-100">
      <img class="opaque card-img-top text-center" src="static/square_logos/agile_logo.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 89%;">
      <div class="card-body">
        <h2>Agile</h2>
        <h4 class="card-title">Scrum Framework</h4>
        <p class="card-text">The Agile methodology focuses on the rapid delivery of increments throughout the duration of the project.
        We utilised this style of development within the Scrum framework to establish good communication between the teams and ensure
      that we always had something to show at the end of each day. Our Trello board was constantly updated as progress was made
      and everyone was brought up to speed with the progress of each team during daily scrums and sprint reviews.</p>
      </div>
      <div class="card-footer">
        <a href="https://agilemanifesto.org/" class="aligner btn btn-primary">Find Out More!</a>
        <a href="https://trello.com/b/f1IotMHb/eng74-final-project" target="_blank"><i class="fa fa-trello" style="font-size:40px; color:#186aa2;"></i></a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="shadow-card card h-100">
      <img class="opaque card-img-top text-center" src="static/square_logos/python_logo.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 54%;">
      <div class="card-body">
        <h2>Python</h2>
        <h4 class="card-title">Programming Language</h4>
        <p class="card-text">Python is an easy to learn and powerful language that utilises the object oriented paradigm. Our web
        scraping application is written in Python, and the first batch of tests for this project were performed in Python with a TDD approach.</p>
      </div>
      <div class="card-footer">
        <a href="https://www.python.org/" class="aligner btn btn-primary">Find Out More!</a>
        <a href="https://github.com/samturton2/FinalProject-webscraper" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>

      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="shadow-card card h-100">
      <img class="opaque card-img-top text-center" src="static/square_logos/flask_logo.jpg" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 54%;">
      <div class="card-body">
        <h2>Flask</h2>
        <h4 class="card-title">Web framework</h4>
        <p class="card-text">Flask is a web focused microframework written in Python that allows for simple and scaleable web applications.
          This microframework was used to create the frontend for the application.</p>
      </div>
      <div class="card-footer">
        <a href="https://flask.palletsprojects.com/en/1.1.x/" class="aligner btn btn-primary">Find Out More!</a>
        <a href="https://github.com/samturton2/FinalProject-webscraper" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 mb-4">
    <div class="shadow-card card h-100">
      <img class="opaque card-img-top text-center" src="static/square_logos/github_logo_cropped.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 50%;">
      <div class="card-body">
        <h2>GitHub</h2>
        <h4 class="card-title">Version Control</h4>
        <p class="card-text">GitHub was used to keep track of the progress made by each team, and ensure that there
          were stable builds to fall back on if things went wrong. It also facilitated multiple people to
       work on the same project in different branches that were later merged.</p>
      </div>
      <div class="card-footer">
        <a href="https://www.github.com" class="aligner btn btn-primary">Find Out More!</a>
        <a href="https://github.com/Lycurgus1" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>

      </div>
    </div>
  </div>

   <div class="col-lg-3 col-md-6 mb-4">
     <div class="shadow-card card h-100">
       <img class="opaque card-img-top text-center" src="static/square_logos/jenkins_logo_cropped.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 42.5%;">
       <div class="card-body">
         <h2>Jenkins</h2>
         <h4 class="card-title">Automation Server</h4>
         <p class="card-text">Jenkins is an open source automation server that was used to create the CI/CD pipeline we implemented to achieved full end to end automation. This included
            automated testing before deploying changes pushed to the development branch.</p>
       </div>
       <div class="card-footer">
         <a href="https://www.jenkins.io/" class="aligner btn btn-primary">Find Out More!</a>
         <a href="https://github.com/naistangz/Docker_Jenkins_Pipeline" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>

       </div>
     </div>
   </div>

   <div class="col-lg-3 col-md-6 mb-4">
     <div class="shadow-card card h-100">
       <img class="opaque card-img-top text-center" src="static/square_logos/docker_logo_cropped.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 52.5%;">
       <div class="card-body">
         <h2>Docker</h2>
         <h4 class="card-title">Containerisation</h4>
         <p class="card-text">Docker is a tool that wraps up (into a container) the code of an application with all of its dependencies
           and virtualises an OS so that the containerised application can be run easily and swiftly on any system.
         Our python app and its dependencies were wrapped up in a Container for OS independant deployment.</p>
       </div>
       <div class="card-footer">
         <a href="https://www.docker.com/" class="aligner btn btn-primary">Find Out More!</a>
         <a href="https://github.com/naistangz/Docker_demo" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>

       </div>
     </div>
   </div>

   <div class="col-lg-3 col-md-6 mb-4">
     <div class="shadow-card card h-100">
       <img class="opaque card-img-top text-center" src="static/square_logos/packer_logo.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 54%;">
       <div class="card-body">
         <h2>Packer</h2>
         <h4 class="card-title">Building AMI's</h4>
         <p class="card-text">Packer is a Hashicorp tool that automates the creation of machine images. This has been
         used to create the Amazon Machine images that have acted as a template for the EC2 instances that we've created.</p>
       </div>
       <div class="card-footer">
         <a href="https://www.packer.io/" class="aligner btn btn-primary">Find Out More!</a>
       </div>
     </div>
   </div>

   <div class="col-lg-3 col-md-6 mb-4">
<div class="shadow-card card h-100">
 <img class="opaque card-img-top text-center" src="static/square_logos/ansible_logo.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 55%;">
 <div class="card-body">
   <h2>Ansible</h2>
   <h4 class="card-title">Configuration Management</h4>
   <p class="card-text">Ansible is an open source configuration management tool built by Hashicorp.
        We have used ansible to provision the images created by packer so that the instances that are created
        from them are deployment ready.
   </p>
 </div>
 <div class="card-footer">
   <a href="https://www.terraform.io/" class="aligner btn btn-primary">Find Out More!</a>
   <a href="https://github.com/Spartabariallali/eng67_terraform" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>

 </div>
</div>
</div>

         <div class="col-lg-3 col-md-6 mb-4">
     <div class="shadow-card card h-100">
       <img class="opaque card-img-top text-center" src="static/square_logos/terraform_logo.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 53%;">
       <div class="card-body">
         <h2>Terraform</h2>
         <h4 class="card-title">Infrastructure as Code</h4>
         <p class="card-text">Terraform is a tool for building, changing,
           and versioning infrastructure safely and efficiently.
           Terraform can manage existing and popular service providers as well as custom in-house solutions.
         </p>
       </div>
       <div class="card-footer">
         <a href="https://www.terraform.io/" class="aligner btn btn-primary">Find Out More!</a>
         <a href="https://github.com/Spartabariallali/eng67_terraform" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>

       </div>
     </div>
   </div>

   <div class="col-lg-3 col-md-6 mb-4">
     <div class="shadow-card card h-100">
       <img class="opaque card-img-top text-center" src="static/square_logos/aws_logo.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 63%;">
       <div class="card-body">
        <h2>AWS</h2>
         <h4 class="card-title">Cloud Computing</h4>
         <p class="card-text">Amazon Web Services is a hugely popular cloud provider,
           that allows for simple scalability as well as robust security. We have hosted
           our network infrastructure on AWS, running our deployed application within an EC2 instance.</p>
       </div>
       <div class="card-footer">
         <a href="https://aws.amazon.com/" class="aligner btn btn-primary">Find Out More!</a>
         <a href="" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>

       </div>
     </div>
   </div>

   <div class="col-lg-3 col-md-6 mb-4">
     <div class="shadow-card card h-100">
       <img class="opaque card-img-top text-center" src="static/square_logos/netdata_logo.png" alt="" style="display:block; margin-left: auto; margin-right: auto; width: 63%;">
       <div class="card-body">
        <h2>Netdata</h2>
         <h4 class="card-title">Monitoring</h4>
         <p class="card-text">Netdata is a monitoring software that can be integrated
           within AWS to identify health problems with our running infrastructure and send notifications
         alerting the team if something has gone wrong.</p>
       </div>
       <div class="card-footer">
         <a href="https://aws.amazon.com/" class="aligner btn btn-primary">Find Out More!</a>
         <a href="" target="_blank"><i class="fa fa-github" style="font-size:40px; color:black;"></i></a>

       </div>
     </div>
   </div>

 </div>

    {% endblock %}
    <footer class="footer">
        <div id="footerinner">
          <p>Copyright | Engineering 74</p>
        </div>
      </footer>
</body>

</html>
